/* start Globale Rules */
:root{
    --mainColor:#E8D39A;
    --SecondeColor:#EAEAEA;
    --transition:0.3s;
    --bacground:#ececec;
    }
    html{
    scroll-behavior: smooth;
    }
    ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    }
    .container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left:auto ;
    margin-right:auto ;
    }
    @media (min-width: 768px) {
    .container{
    width:750px ;
    }
    }
    @media (min-width: 992px) {
    .container{
    width:970px ;
    }
    }
    @media (min-width: 1200px) {
    .container{
    width: 1170px ;
    }
    }
    * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    h3 a{
        text-decoration: none;
        color: black;
        font-family: 'Cairo', sans-serif;
        font-weight: 700;
        padding: 3px 23px;
        background-color: var(--mainColor);
    }
    .link a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    padding: 15px 25px;
    width: 100%;
    transition: var(--transition);
    }
    .link a.active{
        display: block;
        color: white;
        background-color: black;
        border-radius: 10px;
    }
    .link_2 #linknavespace{
        text-decoration: none;
        color: black;
        font-family: 'Cairo';
        font-size: 15px;
        font-weight: 700;
        padding: 2px 10px
    }
    .link_2 li a:last-child{
        text-decoration: none;
        color: white;
        font-family: 'Cairo';
         font-size: 15px;
        font-weight: 700;
        padding: 10px 10px;
    }
    body{
    font-family: "Cairo",sans-serif;
    margin: 0;
    }
    
    /* end Glovale Rules */

/* start header */
.header{
    z-index: 5;
    border-bottom: 2px solid;
   border-color: #575757;
}
   
   .header .container{
       width: 100%;
       display: flex;
       height: 80px;
       background-color: var(--mainColor);
   }
   .header .container .image{
       width: 21%;
       gap: 10px;
       height: 100%;
       display: flex;
       align-items: center;
       position: relative;
   }
   .header .container .image img{
       /* b74c8225-fb57-4667-adec-539a1f5ebfe1 1 */
       width: 60px;
       height: 48px;
       background: url(b74c8225-fb57-4667-adec-539a1f5ebfe1.png);
       mix-blend-mode: multiply;
   }
   .link{
   display: flex;
   width: 70%;
   justify-content: flex-start;
   gap: 10px;
   align-items: center;
   }
   .link_2{
       display: flex;
       width: 20%;
       gap: 15px;
       justify-content: flex-end;
       align-items: center;
       color: black;
   }
   .link_2 li{
    color: black;
   }
   .link_2 li a{
    color: black !important;
    font-family: 'Cairo', sans-serif !important;
   }
   .links{
    width: 79%;
    display: flex;
    justify-content: space-between;
   }
   
   /* end header */

   /* start information */
   .demande{
    margin-top: 50px;
    width: 100%;
    height: 50px;
    background-color: var(--SecondeColor);
    display: flex;
    justify-content: space-between;
   }
   .demande p{
    width: 70%;
    margin-left: 10px;
    font-family: 'Kaisei Decol';
    font-weight: 600;
   }
   .demande .button input{
    font-family: 'Kaisei Decol';
    font-weight: 600;
    width: 30%;
    width: 100px;
    height: 80%;
    border:none;
    outline: none;
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 5px;
   }
   .demande .button input:first-child{
    background-color: var(--mainColor);
   }
      
   .demande .button input:last-child{
    background-color: black;
    color: white;
   }
      

   .information{
    display: none;
   }
    .information.active{
        display: block;
        position: relative;
     width: 100%;
    }
    .information .image{
        height: 100%;
    width: 50%;
    position: relative;
    }
    .information .image img{
        width: 88%;
        height: 100%;
     position: absolute;
    top: 50%;
    transform: translateY(-50%);
    }
    .information form{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: 90%;
        justify-content: space-between;
    }
    .information > .info{
        text-align: center;
    }
    .information > .info h2{
        margin-bottom: 40px;
        border-bottom: 1px solid var(--mainColor);
        padding-bottom: 20px;
    }
    .information .box{
        width: 30%;
    }
textarea{
    background-color: var(--SecondeColor);
    outline: none;
    width: 100%;
    height: 90%;
}
    /* .information form .box:first-child .info:nth-child(1){
     width: 60%;
    display: flex;
    text-align: center !important;
    } */
    /* .information form .box:last-child{
    padding-top: 20px;
    } */
    .information .box .info.prev, 
    .information .box .info.curative{
        display: none ;
    }
    
    .information .box .info,
    .information .box .info.prev.active,
    .information .box .info.curative.active {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 8px;
    }
  
    .information .box .info h2{
    margin-bottom: 0;
    font-family: 'Kaisei Decol';
    font-weight: 700;
    }

    .information .box .info .info-2{
        display: flex;
        flex-direction: column;
    }
    .information .box .info .info-2 label{
        font-size: 14px;
    font-weight: 500;
    font-family: 'Kaisei Decol';
    margin-bottom: 3px;
    }
    .information .box .info .info-2 input[type="text"],
    .information .box .info .info-2 input[type="password"],
    .information .box  .info .info-2 input[type="number"],
    .information .box .info .info-2 input[type="datetime-local"],
    .information .box .info .info-2 input[type="email"],.information .info .info-2 select{
     width: 90%;
    padding: 5px 5px;
    background-color: var(--bacground);
    border: 0;
    outline: none;
    }
    .information .box .info  input[type="submit"]{
        background-color: #ccaa5c;
        padding: 10px;
        margin-bottom: 10px;
        width: 90%;
        height: 40px;
        font-size: 17px;
        font-weight: 700;
        font-family: 'Kaisei Decol';
        border: none;
    }
    .information .box .info input[type="submit"].pdf{
        background-color: #ccaa5c;
        padding: 10px;
        margin-bottom: 10px;
        width: 100%;
        height: 40px;
        font-size: 17px;
        font-weight: 700;
        font-family: 'Kaisei Decol';
        border: none;
    }
    input[type="submit"]{
        width: 115px;
    border: none;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    height: 35px;
    }
    @media(max-width: 992px){
        .header .container .image img {
            width: 40px;
            height: 40px;
        }
        h3 a{
            padding: 0px;
        }
        .header .container .image{
            width: 30%;
        }
        .link{
            width: 80%;
            justify-content: center;
        }

    }
   /* end information */

   table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    text-transform: capitalize;
    font-family: sans-serif;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: var(--mainColor);
    color: black;
}

th:hover {
    background-color: var(--mainColor);
}

tbody tr:hover {
    background-color: #f5f5f5;
}

td:last-child {
    /* height: 92px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around; */
}

.details-row {
    display: none;
}

/* Button Styles */
.show-details-btn {
    background-color: #4caf50;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    height: 35px
}

.show-details-btn:hover {
    background-color: #45a049;
}

.active {
    display: table-row;
}
@media (max-width:767px) {
    .header .container {
        width: 100%;
        align-items: center;
        flex-direction: column;
        display: flex;
        height: fit-content;
        background-color: var(--mainColor);
    }
    .header .container .image img {
        width: 35px;
        height: 35px;
    }
    h3 {
        font-size: 15px;
        margin: 0;
    }
    .links {
        width: 100%;
        display: flex;
        gap: 20px;
    }
    td p{
        font-size: 13px;
    }
    input[type="submit"] {
        width: 80px;
        border: none;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        height: 35px;
    }
    .link_2 li a:last-child {
        text-decoration: none;
        color: white;
        font-family: 'Cairo';
        font-size: 10px;
        font-weight: 700;
        padding: 10px 10px;
    }
    .link a {
        padding: 10px;
        font-size: 10px;
    }
    .icon{
        font-size: 8px !important; 
    }
   .logout{
    font-size: 11px;
   }
   .information {
    position: relative;
    width: 100%;
    justify-content: center;
    height: 84vh;
    display: flex;
}
   .information .image {
    display: none;
}
.information form .info:nth-child(1) {
    width: 100%;
    display: flex;
}
.information .box .info .info-2 label {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Kaisei Decol';
    margin-bottom: 3px;
}
.information .box {
    width: 90% !important;
}
.information .info, .information .more .info.active {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 15px;
    margin-bottom: 8px;
    width: 100%;
}
.information .info .info-2 input[type="text"], .information .info .info-2 input[type="password"], .information .info .info-2 input[type="number"], .information .info .info-2 input[type="datetime-local"], .information .info .info-2 input[type="email"], .information .info .info-2 select {
    width: 100%;
    font-size: 14px;
}
.information .info input[type="submit"] {
    width: 100%;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
td button {
    padding: 10px;
}
.header-2 .link {
    width:fit-content;
    gap: 20px;
}
th {
    padding-top: 5px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5px;
    font-size: 10px
}
td {
    font-size: 11px;
    padding-top: 5px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5px;
}
.show-details-btn {
    background-color: #4caf50;
    color: white;
    padding: 4px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    height: 35px;
}
button, select {
    text-transform: none;
    font-size: 10px;
}
.link{
    width: 80%;
    justify-content: flex-start !important;
}
.information.active {
    display: block;
    position: relative;
    width: 100%;
    height: fit-content;
}
    }
.left